*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    height: 100vh;
}
.hero{
    display: flex;
    justify-content: flex-end;
    padding-right: 120px;
}
.hero img{
    width: 200px;
    height: 200px;
    background-color: whitesmoke;
    border:2px solid black;
    position: static;
    border-radius: 50%;
    opacity: 1;
    text-align: center;
}
header{
    width: 100%;
    height: 50px;
    background-color: whitesmoke;
    color:brown;
    text-align: center;
    font-weight: bold;
    font-size:24px;
}
nav{
    width: 100%;
    height: 50px;
    background-color: aqua;
    color:red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position:sticky;
    top:0;
    z-index: 1000;
}
ul{
    list-style: none;
}
nav li{
    display: inline;
    padding: 20px;
}
.two{
    max-width: 500px;
    line-height: 1.6;
    text-align: center;
    margin:20px;
}
a:hover{
    color:white;
    background-color: red;;
}
.card{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.one, .two, .three{
   width: 300px;
   height: 200px;
   border:2px solid black;
   background-color: aqua;
   color:red;
   border-radius: 20px;
   box-shadow: 4px 4px 10px gray;
   padding: 20px;
}
.one:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
.two:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
.three:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
@media (max-width:600px) {

    .card{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .hero img{
        position: static;
        width: 150px;
        height: 150px;
    }
    .intro{
        position: static;
        width: 90%;
        margin:20px auto;
        text-align: left;
    }
    .one,
    .two,
    .three{
        width: 90%;
    }
    .home{
        flex-direction: column;
        text-align: center;
    }

    .card{
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
    }
    .one,
    .two,
    .three{
        width: 90%;
    }
}
.home{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer{
    background-color: black;
    color:white;
    text-align: center;
    padding: 20px;
    margin-top:30px;
}
input[type="submit"]:hover{
    background-color: red;
    color: white;
}
input:placeholder-shown{
    background-color: whitesmoke;
    color:black;
}
:placeholder-shown:hover{
    border:4px solid rebeccapurple;
    transition: 0.3s;
}
